<form [formGroup]="routeForm">
 
  <div class="routeInput">
    <label for="formGroupExampleInput" >NAME</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of the route" [(ngModel)]="routeModel.name" formControlName="_name">
  </div>
  <div class="routeInput">
    <label for="formGroupExampleInput2">DESCRIPTION OF THE ROUTE</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description" [(ngModel)]="routeModel.info" formControlName="_info">
  </div>
  <div class="routeInput">
      <label for="formGroupExampleInput3">START DESTINATION</label>
      <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Where does your destination start?" [(ngModel)]="routeModel.startsPoint" formControlName="_startDest">
    </div>
    <div class="routeInput">
        <label for="formGroupExampleInput4">END DESTINATION</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Where does your destination end?" [(ngModel)]="routeModel.destination" formControlName="_endDest">
      </div>
      <div class="routeInput">
        <label for="formGroupExampleInput5">START TIME</label>
        <input type="datetime-local" class="form-control" id="formGroupExampleInput4" [(ngModel)]="routeModel.startTime" formControlName="_startTime">
      </div>
      
      <label class="label">IS IT SUITABLE FOR KIDS?</label>
      <br/>

        <label class="radionBtns">
          <input type="radio" [(ngModel)]="routeModel.suitableForKids" [value]="true" formControlName="_suitableForKids">
          YES
        </label>
        <br/>
        <label class="radionBtns">
          <input type="radio" [(ngModel)]="routeModel.suitableForKids" [value]="false" formControlName="_suitableForKids">
          NO
        </label>
        <br/>

      <label class="label">TERRAIN TYPE :</label>
      <div class="form-check">
          <select class="custom-select" [(ngModel)]="routeModel.terrain" formControlName="_terrain">
              <option *ngFor="let name of terrainLabels">{{ name }}</option>
            </select>
      </div>
      <label class="label">ENDURANCE NEEDED :</label>
      <div class="form-check">
          <select class="custom-select" [(ngModel)]="routeModel.endurance" formControlName="_endurance">
              <option *ngFor="let name of enduranceLabels">{{ name }}</option>
            </select>
      </div>       
      <label class="label">TYPE OF ROUTE :</label>
      <div class="form-check">
          <select class="custom-select" [(ngModel)]="routeModel.type" formControlName="_typeOfRoute">
              <option *ngFor="let name of typeOfRouteLabels">{{ name }}</option>
            </select>
      </div>
      <div class="equipmentContainer">
          <label class="label">EQUIPMENTS NEEDED :</label>
          <div>
              <ul class="list-group">
                <li class="list-group-item" >
                  <label  *ngFor="let equipment of routeEquipments">
                    <input type="checkbox"  formControlName="equipments" (click)="addToEquipments(equipment)"/>
                    {{ equipment.name }}
                  </label>                   
                </li>
              </ul>
              
            </div>
      </div>
      
  <div id="createBtn">
      <button  type="submit" class="btn btn-outline-primary" (click)="addRoute()">CREATE</button>
  </div>   
</form>
