<h5>Login</h5>
<!-- <form [(formGroup)]="loginForm">
  <ul>
    <li>
      <label for="e_mail">EMAIL</label>
      <input type="text" [(ngModel)]="loginModel.email" formControlName="_email">
    </li>
    <li>
      <label for="pass_word">PASSWORD</label>
      <input type="password" [(ngModel)]="loginModel.password" formControlName="_password">
    </li>
  </ul>
  <button type="submit" (click)="login()">LOGIN</button>
</form> -->

<form [(formGroup)]="loginForm">
    <div class="loginInput">
      <label for="formGroupExampleInput" >EMAIL</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email address" [(ngModel)]="loginModel.email" formControlName="_email">
    </div>
    <div class="loginInput">
      <label for="formGroupExampleInput2">PASSWORD</label>
      <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" [(ngModel)]="loginModel.password" formControlName="_password">
    </div>
    <div id="loginBtn">
        <button type="submit" class="btn btn-outline-primary" (click)="login()">LOGIN</button>
    </div>    
  </form>