/* .card{
    margin-top: 2%;
}
.btn {
 margin: 5px;
}

.container{
    margin: 0 auto;
} */

.map-container{
    margin-top: 4%;
    margin-left: 3%;
    padding: 0;
}

.detail-table{
    margin-top: 4%;

}

.item{
    background-color: #fbfbfb;
}

.card-body{
    margin-left: 1%;
}
.detail-btns{
    margin-left: 1%;
}