.map-container{
    margin-top: 4%;
    margin-left: 3%;
    padding: 0;
}

.detail-table{
    margin-top: 4%;

}

.item{
    background-color: #fbfbfb;
}

.card-body{
    margin-left: 1%;
}
.detail-btns{
    margin-left: 1%;
}

.title{
    margin-left: 2%;
    margin-top: 2%;
}

.info{
    margin-left: 2%;
    width: 55%;
}