.nav-items{
   
    padding: 25px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #383737;
}
.nav-bar{

    background-color:#fbfbfb !important;
    
    height: 4.2rem;
}
li{
    display: inline-block;
    text-align: center;

}
#logo{
    text-align: left;
}

.bg-light{

    background-color:#fbfbfb !important;
}

.nav-item .active{
    color: #5d5d5d !important;
    font-weight: bold;
}