<form [formGroup]="editForm">

  <div class="container">

    <div class="row">

      <div class="col-6">

        <div class="routeInput">
          <label for="formGroupExampleInput">NAME *</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of the route"
            [(ngModel)]="routeToEdit.name" formControlName="_name">
        </div>
        <div class="routeInput">
          <label for="formGroupExampleInput2">DESCRIPTION OF THE ROUTE *</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description"
            [(ngModel)]="routeToEdit.info" formControlName="_info">
        </div>
        <div class="routeInput">
          <label for="formGroupExampleInput3">START DESTINATION *</label>
          <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
            (onAddressChange)="changeStartPoint($event)" type="text" class="form-control" id="formGroupExampleInput3"
            placeholder="Where does your destination start?" formControlName="_startDest"
            [ngClass]="{ 'is-invalid': editForm.controls._startDest.valid && !routeToEdit.startPoint }">
          <div *ngIf="editForm.controls._startDest.valid && !routeToEdit.startPoint" class="invalid-feedback">
            <div>Invalid address</div>
          </div>
        </div>
        <div class="routeInput">
          <label for="formGroupExampleInput4">END DESTINATION *</label>
          <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
            (onAddressChange)="changeDestination($event)" type="text" class="form-control" id="formGroupExampleInput4"
            placeholder="Where does your destination end?" formControlName="_endDest"
            [ngClass]="{ 'is-invalid': editForm.controls._endDest.valid && !routeToEdit.destination }">
            <div *ngIf="editForm.controls._endDest.valid && !routeToEdit.destination" class="invalid-feedback">
                <div>Invalid address</div>
              </div>
        </div>
        
        <div class="routeInput">
          <label for="formGroupExampleInput5">START TIME *</label>
          <input type="datetime-local" class="form-control" id="formGroupExampleInput4"
            [(ngModel)]="routeToEdit.startTime" formControlName="_startTime">
        </div>

        <div class="equipmentContainer">
          <label class="label">EQUIPMENTS NEEDED :</label>
          <div>
            <ul class="list-group">
              <li class="list-group-item">
                <div>
                  <label *ngFor="let equipment of equipments" class="equip">
                    <input type="checkbox" formControlName="equipments" (click)="addToEquipments(equipment)" />
                    {{ equipment.name }}
                  </label>
                </div>
              </li>
            </ul>
  
          </div>
        </div>

      </div>

      <div class="col-6">
        <label class="label">TERRAIN TYPE :</label>
        <div class="form-check">
          <select class="custom-select" [(ngModel)]="routeToEdit.terrain" formControlName="_terrain">
            <option *ngFor="let name of terrainLabels">{{ name }}</option>
          </select>
        </div>
        <label class="label">ENDURANCE NEEDED :</label>
        <div class="form-check">
          <select class="custom-select" [(ngModel)]="routeToEdit.endurance" formControlName="_endurance">
            <option *ngFor="let name of enduranceLabels">{{ name }}</option>
          </select>
        </div>
        <label class="label">TYPE OF ROUTE :</label>
        <div class="form-check">
          <select class="custom-select" [(ngModel)]="routeToEdit.type" formControlName="_typeOfRoute">
            <option *ngFor="let name of typeOfRouteLabels">{{ name }}</option>
          </select>
        </div>

        <label class="label">IS IT SUITABLE FOR KIDS?</label>
        <br />
        <label class="radionBtns">
          <input type="radio" [(ngModel)]="routeToEdit.suitableForKids" [value]="true"
            formControlName="_suitableForKids">
          YES
        </label>
        <br />
        <label class="radionBtns">
          <input type="radio" [(ngModel)]="routeToEdit.suitableForKids" [value]="false"
            formControlName="_suitableForKids">
          NO
        </label>
        <br />

        <div> 
          <app-map *ngIf="routeToEdit.startPoint && routeToEdit.destination" [origin]="routeToEdit.startPoint"
          [destination]="routeToEdit.destination"></app-map>
        </div>
      </div>
      </div>

    </div>

    <div class="row">
      <button type="submit" [disabled]="!editForm.valid || !routeToEdit.startPoint || !routeToEdit.destination"
        *ngIf="isEditMode" class="btn btn-outline-primary save-btn" (click)="saveChanges()">SAVE CHANGES</button>
        <button class="btn btn-outline-primary cancel" (click)="cancel()">CANCEL</button>
  </div>


</form>