  <div class="routes-container">
      <ul>
        <li class="routes">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4" *ngFor="let route of foundTrips">
                      <div class="card ">
                          <div class="card-body">
                            <h5 class="card-title">{{ route.name }}</h5>
                            <p class="card-text">{{ route.info }}</p>
                            <a class="btn btn-outline-info" [routerLink]="['/route/', route.id]">DETAILS</a>
                          </div>
                        </div>
                  </div>
              </div> 
          </div>                
        </li>        
      </ul>
  </div>



