.registerInput{
    width: 60%;
    padding-top: 15px;
}

.registerBtn{
    padding-left: 25%;
    padding-top: 10%;
}

h5{
    padding: 15px;
    font-weight: 400;
}
.form-check{
    padding: 0;
    padding: 1%;
    width: 60%;
}
.label{
    padding-left: 10px;
    padding-top: 10px;
}

.list-group{
    width: 80%;
   
}

.equipment{
    padding: 2%;
}

.equipmentContainer{
    width: 100%
}

.equipmentsHolder{
    padding-top: 7%;
}